fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
sqlalchemy
psycopg[binary]
alembic
bcrypt
python-jose[cryptography]
python-multipart
httpx
pytest
pytest-asyncio
email-validator
groq
scikit-learn